.navbar-brand {
	background: url(/static/img/logo_Geonode.png) no-repeat;
    margin-bottom: 10px;
    width: 150px;
}
.navbar-collapse{
	margin-top: 10px
}

.container{
	width: 1100px;
	margin-top: 20px;
}
.navbar-collapse{
	width: 1100px;
}

.hero-unit{
	width: 970px;
	margin: auto;
}